* text=auto

*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.cmake text eol=lf
CMakeLists.txt text eol=lf

*.dxf text eol=crlf
*.dwg binary
*.png binary
*.jpg binary
*.jpeg binary
*.ico binary
